<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users has Secrets</title>
  {% load humanize %}
</head>
<body>
  <div class="container">
    <h2>Hello {{ request.session.user_fname }}!</h2>
    <form action="{% url 'users:logout' %}" method='post'>
      {% csrf_token %}
      <input type="submit" value='Logout'>
    </form>
    <form action="{% url 'secrets:create' %}" method='post'>
      {% csrf_token %}
      <textarea name="secret" placeholder='Your secret here..........' rows="8" cols="40"></textarea>
      <input type="submit" value='Add Secret'>
    </form>
    <h4>Recent Secrets</h4>
    {% if secrets %}
      {% for secret in secrets %}
        <p>{{ secret.content }} ({{ secret.created_at|timesince }}) {{ secret.likes.count }} likes
          {% if user in secret.likes.all %}
            You liked this
          {% else %}
            <a href="{% url 'secrets:like' secret_id=secret.id%}">Like</a>
          {% endif %}
        {% if secret.user.id == request.session.user_id %}
          You posted this <a href="{% url 'secrets:delete' secret_id=secret.id %}">Delete</a>
        {% endif %}
        </p>
      {% endfor %}
    {% endif %}
  </div><!-- end_of_container-->
</body>
</html>
